.info-header {
    width: 100%;
    border-bottom: 1px solid #e5e6ec;
    line-height: 0.5em;
    margin-bottom: 25px;
}

.info-header span {
    background: #fff;
    padding: 0 10px;
}

.info-box {
    margin-left: 2em;
}

.security-box {
    margin-left: 2em;
}

.action-buttons {
    display: flex;
}

.button {
    background-color: #28a745;
    margin-right: 1em;
}

.cancel-button {
    background-color: #808080;
}

a {
    font-size: 11pt;
}